.content {
    max-width: 500px;
    margin: auto;
    background: linear-gradient(
      to bottom,
      #200202 0%,
      #cf0404 20%,
      #cf0404 46%,
      #c10303 51%,
      #a51603 69%,
      #0c0100 88%
      );
    padding: 10px;
  }

  .navbar {
    background: linear-gradient(
    to bottom,
    #200202 0%,
    #cf0404 20%,
    #cf0404 46%,
    #c10303 51%,
    #a51603 69%,
    #0c0100 88%
    )
  }

  /* favorite team news card */
  .teamNews {
    max-width: 500px;
    margin: auto;
    background: rgb(20, 73, 104);
    padding: 10px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
body {
  background: rgba(1, 1, 10, 0.877);
  color: white;
  text-align: center !important;
}


p{
	margin-top: 20px;
	font-size: 30px;
}
input{
	text-align: center;
}
.mssg{
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
}

.table {

  color: aqua;
}